Flask
Flask-CORS
mysql-connector-python
pandas
matplotlib
seaborn
xlsxwriter
gunicorn
psycopg2-binary
openpyxl
requests
bleach
pytz
Flask-SocketIO
Flask-Caching
scikit-learn
statsmodels
numpy
python-socketio